*.js linguist-language=Java
mms-ent/docs/* linguist-documentation
mms-ent/repo/* linguist-vendored
mms-ent/share/* linguist-vendored
mms-ent/runner/* linguist-vendored
mms-ent/solr-config/* linguist-vendored
