.project
.classpath
.settings
/alf_data_dev/*
mms.properties
/C:/*
/alfresco.log*
/solr.log*
/repo/target/*
/repo-amp/target/*
/runner/target/*
/share/target/*
/share-amp/target/*
/solr-config/target/*
*.log
*.log.*
*~
output*.txt
debug*.txt
debug*.out
rebel*.xml
/src/main/amp/web/scripts/raml/
activemq-data/
/target
/activation/
/antlr/
/aopalliance/
/args4j/
/asm/
/avalon-framework/
/axis/
/backport-util-concurrent/
/bsf/
/cglib/
/classworlds/
/com/
/commons-beanutils/
/commons-cli/
/commons-codec/
/commons-collections/
/commons-dbcp/
/commons-digester/
/commons-discovery/
/commons-el/
/commons-fileupload/
/commons-httpclient/
/commons-io/
/commons-lang/
/commons-logging/
/commons-net/
/commons-pool/
/commons-validator/
/concurrent/
/de/
/doc/
/javadoc/
/dom4j/
/edu/
/gov/
/javax/
/jaxen/
/jdom/
/jmagick/
/joda-time/
/junit/
/log4j/
/logkit/
/nekohtml/
/net/
/nu/
/org/
/oro/
/rhino/
/rome/
/stax/
/tk/
/wsdl4j/
/xalan/
/xerces/
/xml-apis/
/xpp3/
/runserver.last.out
/runserver.out
/runserver.err
/target
.idea
.iml
.DS_Store
/target
*.pyc
.pydevproject
/bin/
