# setting JMS
# curl -u admin:admin -H Content-Type:application/json http://localhost:8080/alfresco/service/connection/jms -d '{"ctxFactory":"weblogic.jndi.WLInitialContextFactory", "username":"username", "password":"password", "connFactory":"jms/JMSModuleCF", "topicName":"jms/DistributedTopic", "uri":"t3s://localhost:8111"}'
# curl -u admin:admin -H Content-Type:application/json http://localhost:8080/alfresco/service/connection/jms -d '{"ctxFactory":"weblogic.jndi.WLInitialContextFactory", "username":"username", "password":"password", "connFactory":"jms/JMSModuleCF", "topicName":"jms/DistributedTopic", "uri":"t3://localhost:8011"}'
# curl -u admin:admin -H Content-Type:application/json http://localhost:8080/alfresco/service/connection/jms -d '{"ctxFactory":"org.apache.activemq.jndi.ActiveMQInitialContextFactory", "username":null, "password":null, "connFactory":"ConnectionFactory", "topicName":"master", "uri":"tcp://localhost:61616"}'

# CUSTOM PROPERTIES
#Application Settings
app.name=APPNAME
app.title=APPTITLE
app.url=http://localhost:8080
app.port=8080
app.email.from=EMAIL@EXAMPLE.COM
app.domain.name=EXAMPLE.COM
app.email.admin=ADMIN@EXAMPLE.COM
app.logo.url=SOMELOGOURL
app.logo.alt=SOMELOGOALT
app.org.name=SOMEORGANIZATIONNAME
app.inst.name=SOMEINSTITUTIONNAME
app.user=admin
app.pass=admin

#Postgres Settings
pg.host=jdbc:postgresql://127.0.0.1/
pg.name=POSTGRESDBNAME
pg.user=POSTGRESUSERNAME
pg.pass=POSTGRESPASSWORD
pg.limit.insert=5000
pg.limit.select=1000

#Elasticsearch Settings
elastic.host=http://localhost:9200
elastic.index.element=mms
elastic.limit.insert=80
elastic.limit.result=10000
elastic.limit.term=10000

#Teamwork Settings
tw.url=TWSERVERURL
tw.user=TWSERVERUSERNAME
tw.pass=TWSERVERPASSWORD
tw.port=18051

#Jenkins Settings
jenkins.url=JENKINSSERVERURL
jenkins.user=JENKINSUSERNAME
jenkins.pass=JENKINSPASSWORD

#Analysis Setting
analysis.server=ANALYSISSERVERURL
analysis.agent=ANALYSISSERVERAGENT

#JMS Setting
jms.ctxfactory=org.apache.activemq.jndi.ActiveMQInitialContextFactory
jms.connfactory=ConnectionFactory
#jms.username=
#jms.password=
jms.destination=master
jms.uri=tcp://localhost:61616
